/** Styles for PDBe Molstar (in addition to styles imported from core Molstar) */

.pdbemolstar-overlay {
    z-index: 1000;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.pdbemolstar-overlay-box {
    width: 25%;
    height: 25%;
}

svg.pdbe-animated-logo {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 80%;

    .path-fg {
        stroke-dasharray: 1812 250;
        stroke-dashoffset: -250;
        animation: dash linear normal infinite;
        animation-duration: 5s;
        animation-delay: 1s;
    }
    @keyframes dash {
        0% {
            stroke-dashoffset: 1812;
        }
        80% {
            stroke-dashoffset: -250;
        }
        100% {
            stroke-dashoffset: -250;
        }
    }
}


.msp-plugin ::-webkit-scrollbar-thumb {
    background-color: #80808080;
    border-radius: 10px;
    border: solid 1px transparent;
    background-clip: content-box;
}

.msp-plugin .msp-plugin-init-error {
    color: #808080;
}

.msp-plugin .msp-layout-static {
    container-type: size; // define container to reference in .msp-viewport-controls-panel-controls
}

.msp-plugin .msp-viewport-controls-panel .msp-viewport-controls-panel-controls {
    max-height: calc(100cqh - 41px - 24px - 10px); // 100cqh = viewport container, 41px = control buttons offset, 24px = header, 10px = space below
}

// Avoid wraping headers in left panel help 
.msp-plugin .msp-simple-help-section {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.msp-plugin .msp-control-group-header button {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
